<p>Full Name: {{applicant.first_name}} {{applicant.middle_initial}} {{applicant.last_name}}</p>
<p>SSN: {{applicant.ssn_formatted}}</p>
<p>DOB: {{applicant.dob_formatted}}</p>
<p>Employee NAFI: {{applicant.nafi}}</p>