<p>SSN: {{applicant.ssn_formatted}}</p>
<p>DOB: {{applicant.dob_formatted}}</p>
<p>Full Name: {{applicant.first_name}} {{applicant.middle_initial}} {{applicant.last_name}}</p>
<p>Employee NAFI: {{applicant.nafi}}</p>
<p>Average of High 3 Salaries: ${{applicant.salary}}</p>
<p>You have (years left to be 62 or older): {{applicant.years_til}}</p>
<p>Your total contribution (last 5 years): ${{applicant.contrib}}</p>