<body>
	{{> home_link}}
	{{> header}}
	{{#if user}}
		{{#ifNotEquals user.ssn "admin"}}
			{{> myprofile_menu}}
			<div class="col23 row2">
				<h2>Retirement Election Form</h2>
			</div>
			<div class="col23 row34 iframe bg">
				{{#ifEquals user.submission_status "not submitted"}}
					{{> form1}}
				{{/ifEquals}}
				{{#ifNotEquals user.submission_status "not submitted"}}
					<p>Your form status is <span>{{user.submission_status}}</span></p>
					<iframe src="{{user.submission_src}}"></iframe>
					{{#ifEquals user.submission_status "processed"}}
						<iframe src="{{user.calculation_src}}"></iframe>
						<p id="instructions">
							Note to the retiree:
							<br><br>
							Your eligibility for retirement starts at age 52. This means you will be able to receive your retirement money starting at 52 years of age.  However, if you would like to retire at the age of 62 or older, you will not receive your contributions. Similarly, if you have been receiving your contributions since you were 52 years of age, your contributions will decrease in amount when you turn 62 and thereafter.
							Below, you must select one out of three different options. We have calculated and given you options to select from (below). You can select your retirement date and how you want to receive your retirement benefits and contributions.
							<br><br>
							Understanding your options below…
							<br><br>
							<span class="math">Retirement (age >= 52)</span>:
							<br><br>
							<span class="math">Option A</span> will give you the highest amount from the contributions possible however, your contributions may not last longer than option B.
							<br><br>
							<span class="math">Option 1 (B)</span> will give you the moderate amount from the contributions, however your contributions may last a bit longer than option A.
							<br><br>
							<span class="math">Retirement (age < 52)</span>:
							<br><br>
							<span class="math">Option 2</span> is for people who are age of 62 or older or for someone you would like to receive the retirement benefits after they have reached the age of 62. However, you will lose all your contributions. 
							<br><br>
							<span class="math">Option 3</span> is for people who are age of 62 or older or for employees who would like to receive the retirement benefits after they have reached the age of 62. However, you will lose all your contributions.
						</p>
						<div class="form4:">
							<hr>
							<span class="math">Your ESTIMATED Retirement Benefits and Options are as below:</span>
							<br><br>
							<h2>OPTION 1: EARLY RETIREMENT</h2>
							<br><br>
							<p>Payments will begin on (YYYYMMDD): <span class="math">{{user.retdate_formatted}}</span></p>
							<br><br>
							<p>You will receive total contributions in the amount of: <span class="math">${{user.contrib}}</span></p>
							<br><br>
							<input type="radio" name="option"><span class="math">Lumpsum:</span>
							<br>
							<p>With contributions you will receive a monthly benefit payment in the amount of: <span class="math">${{additional.monthly_payment_amount1}}</span></p>
							<br><br>
							<p>You will receive a monthly benefit payment in the amount of (with contributions after age of 62 and above): <span class="math">${{additional.ss_amount1}}</span></p>
							<br><br>
							<input type="radio" name="option"><span class="math">Monthly Payment:</span>
							<br>
							<p>Without contributions you will receive a monthly benefit payment in the amount of: <span class="math">${{additional.monthly_payment_amount2}}</span></p>
							<br><br>
							<p>You will receive a monthly benefit payment in the amount of (without contributions after age of 62 and above): <span class="math">${{additional.ss_amount2}}</span></p>
							<hr>
						</div>
					{{/ifEquals}}
				{{/ifNotEquals}}
			</div>
		{{/ifNotEquals}}
		{{#ifEquals user.ssn "admin"}}
			{{> admin_menu}}
			<div class="col23 row2">
				<h2>List of Retirement Election Form submitted by users/customers:</h2>
			</div>
			<div class="col23 row34 bg">
				<p>Right click and open in new tab to view a form if there are any submissions!</p>
				<ol>
					{{#each unprocessed}}
						<li>
							<a href="{{this.submission_src}}">Retirement Election Form submitted by {{this.last_name}}, {{this.first_name}}</a>
							<a href="/user/{{this.id}}">Calculate Retirement</a>
						</li>
					{{/each}}
					{{#each processed}}
						<li>
							<a href="{{this.calculation_src}}">Retirement Election Form by {{this.last_name}}, {{this.first_name}} processed</a>
						</li>
					{{/each}}
				</ol>
			</div>
		{{/ifEquals}}
		{{> error_display}}
	{{else}}
		<div class="col23 row2">
			<h2>Log In</h2>
		</div>
		<div class="col23 row34">
			{{> login_form}}
		</div>
		<div class="col23 row5">
			<p>Don't have an account? <a href="/sign-up">Click here to register/signup</a></p>
		</div>
	{{/if}}
</body>