<body>
	{{> home_link}}
	{{> header}}
	{{> myprofile_menu}}
	<div class="col23 row2">
		<h2>{{title}}</h2>
	</div>
	<div class="col23 row345">
		<p>Last name: {{user.last_name}}</p>
		<p>First name: {{user.first_name}}</p>
		<p>Address: {{user.address}}</p>
		<p>City: {{user.city}}</p>
		<p>State: {{user.state}}</p>
		<p>SSN: {{user.ssn_formatted}}</p>
		<p>Sex: {{user.sex}}</p>
		<p>Date of Birth: {{user.dob_formatted}}</p>
		<p>Phone Number: {{user.phone_number_formatted}}</p>
	</div>
</body>