<body>
	{{> home_link}}
	{{> header}}
	<div class="col1 row2">
		<p>Welcome <span>{{user.username}}</span></p>
		<a href="/log-out">Log Out</a>
	</div>
	<div class="col23 row234">
		<h2>User Profile for {{user.username}}</h2>
		<p>Last name: {{user.last_name}}</p>
		<p>First name: {{user.first_name}}</p>
		<p>Address: {{user.address}}</p>
		<p>City: {{user.city}}</p>
		<p>State: {{user.state}}</p>
		<p>SSN: {{user.ssn_formatted}}</p>
		<p>Sex: {{user.sex}}</p>
		<p>Date of Birth: {{user.dob_formatted}}</p>
		<p>Phone Number: {{user.phone_number_formatted}}</p>
	</div>
</body>